<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <link rel="stylesheet" href="<?php echo BS_PATH ?>css/bootstrap.min.css">
    <script src="<?php echo BS_PATH ?>js/jquery.min.js"></script>
    <script src="<?php echo BS_PATH ?>js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <h3>
            <a href="?m=user&c=user&a=init&pc_hash={$hash}" class="btn btn-primary">查看用户</a>
        </h3>
        <table class="table table-bordered">
            <tr>
                <td class="active">用户ID</td>
                <td class="success">用户名称</td>
                <td class="warning">用户密码</td>
            </tr>
            {pc:get sql="select * from v9_user order by u_id desc" num="5" page="$_GET[page]"}
            {loop $data $row}
            <tr>
                <td>{$row[u_id]}</td>
                <td>{$row[u_name]}</td>
                <td>{$row[u_password]}</td>
            </tr>
            {/loop}
            {/pc}
            <tr>
                <td colspan="3">
                    {$pages}
                </td>
            </tr>
        </table>

    </div>
</body>

</html>